@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme inline {
  --color-navy: #4DE1E5;
  --color-navy-light: #38c9cd;
  --color-gold: #FACC15;
  --color-gold-dark: #EAB308;
  --font-sans: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1E1B4B44;
  border-radius: 3px;
}
